# 02. Classes for Spatial Data in R

데이터셋 받는 곳 : http://www.asdar-book.org

## 2.3 Spatial Objects

In [1]:
# 설치는 한번만
#install.packages("sp",  repos="http://cran.nexr.com/"  )

package 'sp' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Y.G JI\AppData\Local\Temp\RtmpKGoWDZ\downloaded_packages

In [1]:
library(sp)

- R에서 사용하는 공간관련 객체들

In [2]:
getClass("Spatial")

Class "Spatial" [package "sp"]

Slots:

Name:         bbox proj4string
Class:      matrix         CRS

Known Subclasses:
Class "SpatialPoints", directly
Class "SpatialMultiPoints", directly
Class "SpatialGrid", directly
Class "SpatialLines", directly
Class "SpatialPolygons", directly
Class "SpatialPointsDataFrame", by class "SpatialPoints", distance 2
Class "SpatialPixels", by class "SpatialPoints", distance 2
Class "SpatialMultiPointsDataFrame", by class "SpatialMultiPoints", distance 2
Class "SpatialGridDataFrame", by class "SpatialGrid", distance 2
Class "SpatialLinesDataFrame", by class "SpatialLines", distance 2
Class "SpatialPixelsDataFrame", by class "SpatialPoints", distance 3
Class "SpatialPolygonsDataFrame", by class "SpatialPolygons", distance 2

- CRS( coordinate reference system ) 클래스는 좌표참조시스템임.
- 위경도 좌표일때는 +proj=longlat 문자열를 사용함.

In [10]:
getClass("CRS")

Class "CRS" [package "sp"]

Slots:

Name:   projargs
Class: character

- bounding box matrix와 빈 CRS로 Spatial 객체를 만들어보자.

In [11]:
m <- matrix( c(0, 0, 1, 1), ncol=2, dimnames=list(NULL, c("min", "max")) )
m

     min max
[1,]   0   1
[2,]   0   1

In [12]:
crs <- CRS( projargs=as.character(NA) )
crs

CRS arguments: NA

In [13]:
S <- Spatial(bbox=m, proj4string=crs)
S

An object of class "Spatial"
Slot "bbox":
     min max
[1,]   0   1
[2,]   0   1

Slot "proj4string":
CRS arguments: NA

- 아래와 같이 좀더 세련된 방법
- 좌표에 대한 유효성을 체크

In [17]:
Spatial(matrix(c(350, 85, 370, 95), 
        ncol = 2, 
        dimnames = list(NULL, c("min", "max"))), 
        proj4string = CRS("+proj=longlat"))

An object of class "Spatial"
Slot "bbox":
     min max
[1,] 350 370
[2,]  85  95

Slot "proj4string":
CRS arguments: +proj=longlat +ellps=WGS84

## 2.4 SpatialPoints

- SpatialPoints는 2차원 좌표에서의 하나의 점을 표현
- 주로 위경도 좌표를 표현

- 위경도 데이터를 읽어서 SpatialPoints 객체를 생성해보자.

In [ ]:
http://www.asdar-book.org/datasets/CRAN051001a.txt

In [19]:
CRAN_df <- read.table("http://www.asdar-book.org/datasets/CRAN051001a.txt", header = TRUE)
head( CRAN_df )

           place   north     east       loc      long       lat
1       Brisbane 27d28'S 153d02'E Australia 153.03333 -27.46667
2      Melbourne 37d49'S 144d58'E Australia 144.96667 -37.81667
3           Wien 48d13'N  16d20'E   Austria  16.33333  48.21667
4       Curitiba 25d25'S  49d16'W    Brazil -49.26667 -25.41667
5      Vi\xe7oza 20d45'S  42d52'W    Brazil -42.86667 -20.75000
6 Rio de Janeiro 22d54'S  43d12'W    Brazil -43.20000 -22.90000

In [20]:
CRAN_mat <- cbind(CRAN_df$long, CRAN_df$lat)
class( CRAN_mat )
head( CRAN_mat )
row.names(CRAN_mat) <- 1:nrow(CRAN_mat)
row.names(CRAN_mat)
str(CRAN_mat)

[1] "matrix"

          [,1]      [,2]
[1,] 153.03333 -27.46667
[2,] 144.96667 -37.81667
[3,]  16.33333  48.21667
[4,] -49.26667 -25.41667
[5,] -42.86667 -20.75000
[6,] -43.20000 -22.90000

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20" "21" "22" "23" "24" "25" "26" "27" "28" "29" "30"
[31] "31" "32" "33" "34" "35" "36" "37" "38" "39" "40" "41" "42" "43" "44" "45"
[46] "46" "47" "48" "49" "50" "51" "52" "53" "54"

 num [1:54, 1:2] 153 145 16.3 -49.3 -42.9 ...
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:54] "1" "2" "3" "4" ...
  ..$ : NULL

In [10]:
getClass("SpatialPoints")

Class "SpatialPoints" [package "sp"]

Slots:

Name:       coords        bbox proj4string
Class:      matrix      matrix         CRS

Extends: "Spatial"

Known Subclasses:
Class "SpatialPointsDataFrame", directly
Class "SpatialPixels", directly
Class "SpatialPixelsDataFrame", by class "SpatialPixels", distance 2

In [11]:
llCRS <- CRS("+proj=longlat +ellps=WGS84")
CRAN_sp <- SpatialPoints(CRAN_mat, proj4string = llCRS)
summary(CRAN_sp)

Object of class SpatialPoints
Coordinates:
                 min      max
coords.x1 -122.95000 153.0333
coords.x2  -37.81667  57.0500
Is projected: FALSE
proj4string : [+proj=longlat +ellps=WGS84]
Number of points: 54

### 2.4.1 Methods

In [12]:
bbox(CRAN_sp)

                 min      max
coords.x1 -122.95000 153.0333
coords.x2  -37.81667  57.0500

In [13]:
proj4string(CRAN_sp)

[1] "+proj=longlat +ellps=WGS84"

In [14]:
proj4string(CRAN_sp) <- CRS(as.character(NA))
proj4string(CRAN_sp)

[1] NA

In [15]:
proj4string(CRAN_sp) <- llCRS
proj4string(CRAN_sp)

[1] "+proj=longlat +ellps=WGS84"

In [16]:
brazil <- which(CRAN_df$loc == "Brazil")
brazil

[1] 4 5 6 7 8

In [17]:
coordinates(CRAN_sp)[brazil, ]

  coords.x1 coords.x2
4 -49.26667 -25.41667
5 -42.86667 -20.75000
6 -43.20000 -22.90000
7 -47.63333 -22.71667
8 -46.63333 -23.53333

In [18]:
summary(CRAN_sp[brazil, ])

Object of class SpatialPoints
Coordinates:
                min       max
coords.x1 -49.26667 -42.86667
coords.x2 -25.41667 -20.75000
Is projected: FALSE
proj4string : [+proj=longlat +ellps=WGS84]
Number of points: 5

In [19]:
south_of_equator <- which(coordinates(CRAN_sp)[, 2] < 0)
summary ( CRAN_sp[-south_of_equator, ]  )

Object of class SpatialPoints
Coordinates:
              min    max
coords.x1 -122.95 140.10
coords.x2   24.15  57.05
Is projected: FALSE
proj4string : [+proj=longlat +ellps=WGS84]
Number of points: 45

### 2.4.2 Data Frames for Spatial Point Data

- 공간상의 좌표에 해당 좌표에 맞는 데이터를 연결이 필요함.
- SpatialPoints객체와 data.frame 객체와 통합된 SpatialPointsDataFrame 객체를 만들수 있음.

In [20]:
str(row.names(CRAN_df))

 chr [1:54] "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" ...

In [21]:
CRAN_spdf1 <- SpatialPointsDataFrame(
    CRAN_mat, 
    CRAN_df,
    proj4string = llCRS, 
    match.ID = TRUE)
CRAN_spdf1[4, ]

             coordinates    place   north    east    loc      long       lat
4 (-49.26667, -25.41667) Curitiba 25d25'S 49d16'W Brazil -49.26667 -25.41667

In [22]:
CRAN_spdf1[4, ]

             coordinates    place   north    east    loc      long       lat
4 (-49.26667, -25.41667) Curitiba 25d25'S 49d16'W Brazil -49.26667 -25.41667

- SpatialPointsDataFrame객체에서 data.frame과 같은 방법도 가능하고, standard S언어 클래스를 참고하는 방법도 가능.

In [23]:
str(CRAN_spdf1$loc)
str(CRAN_spdf1[["loc"]])

 Factor w/ 30 levels "Australia","Austria",..: 1 1 2 3 3 3 3 3 4 19 ...
 Factor w/ 30 levels "Australia","Austria",..: 1 1 2 3 3 3 3 3 4 19 ...

- 데이터의 순서가 다르더라도,  row id로 재정렬됨.

In [24]:
s <- sample(nrow(CRAN_df))
s
CRAN_spdf2 <- SpatialPointsDataFrame(
    CRAN_mat, 
    CRAN_df[s, ], 
    proj4string = llCRS, 
    match.ID = TRUE)
all.equal(CRAN_spdf2, CRAN_spdf1)

 [1] 53  4 46 10  7  5 50 24 25 27 47  3 20 41 49  9 19 16 42 21 39 17 26 52 35
[26] 12 15 48 51 23  1 13 30 54 31 43 29 34 45 18 32 37 14 11 28 44  6 40 22 36
[51] 38 33  2  8

[1] TRUE

In [21]:
CRAN_spdf2[4, ]

             coordinates    place   north    east    loc      long       lat
4 (-49.26667, -25.41667) Curitiba 25d25'S 49d16'W Brazil -49.26667 -25.41667

- ID값이 매칭되지 않으면 에러를 발생함.

In [22]:
CRAN_df1 <- CRAN_df
row.names(CRAN_df1) <- sample(c(outer(letters, letters,  paste, sep = "")), nrow(CRAN_df1))
row.names(CRAN_df1)

CRAN_spdf3 <- SpatialPointsDataFrame(
    CRAN_mat, 
    CRAN_df1, 
    proj4string = llCRS, 
    match.ID = TRUE)

 [1] "of" "bf" "tb" "eh" "uu" "gx" "pk" "rh" "xs" "tc" "yf" "la" "ah" "wt" "vu"
[16] "vh" "rv" "cg" "sz" "ky" "ia" "mo" "wk" "uj" "zb" "yk" "vk" "lo" "ll" "bc"
[31] "jj" "mh" "uc" "ur" "hv" "ow" "dj" "wg" "ob" "jp" "zg" "ex" "pf" "tk" "xo"
[46] "wh" "so" "lt" "ss" "mu" "oq" "fp" "ct" "ot"

ERROR: Error in SpatialPointsDataFrame(CRAN_mat, CRAN_df1, proj4string = llCRS, : row.names of data and coords do not match

- SpatialPointsDataFrame 클래스 구조는 아래와 같음
    - SpatialPoints 클래스를 확장함.
    - data 변수는 data.frame 값을 가지고 있음.

![](chapter02_01.png)

In [3]:
getClass("SpatialPointsDataFrame")

Class "SpatialPointsDataFrame" [package "sp"]

Slots:

Name:         data  coords.nrs      coords        bbox proj4string
Class:  data.frame     numeric      matrix      matrix         CRS

Extends:
Class "SpatialPoints", directly
Class "Spatial", by class "SpatialPoints", distance 2

Known Subclasses:
Class "SpatialPixelsDataFrame", directly, with explicit coerce

- Spatial*DataFrame 클래스는 data.frame 같이 동작하도록 설계됨.
- names()함수와 model.frame()함수를 지원

In [24]:
names( CRAN_spdf1 )

[1] "place" "north" "east"  "loc"   "long"  "lat"

In [26]:
str(model.frame(lat ~ long, data = CRAN_spdf1), give.attr = FALSE)

'data.frame':	54 obs. of  2 variables:
 $ lat : num  -27.5 -37.8 48.2 -25.4 -20.8 ...
 $ long: num  153 145 16.3 -49.3 -42.9 ...

- SpatialPointsDataFrame()함수에 첫번째 인자로 SpatialPoints 객체로 사용해서 생성할 수 있음

In [27]:
CRAN_spdf4 <- SpatialPointsDataFrame(CRAN_sp, CRAN_df)
all.equal(CRAN_spdf4, CRAN_spdf2)

[1] TRUE

- 멕시코에서 일본까지 태평량을 횡단한 바다거북의 추적한 데이터셋으로 부터 SpatialPointsDataFrame 객체를 만들어보자

In [21]:
turtle_df <- read.csv("seamap105_mod.csv")
summary(turtle_df)

       id              lat             lon                         obs_date
 Min.   :  1.00   Min.   :21.57   Min.   :-179.88   01/02/1997 04:16:53:  1
 1st Qu.: 99.25   1st Qu.:24.36   1st Qu.:-147.38   01/02/1997 05:56:25:  1
 Median :197.50   Median :25.64   Median :-119.64   01/04/1997 17:41:54:  1
 Mean   :197.50   Mean   :27.21   Mean   : -21.52   01/05/1997 17:20:07:  1
 3rd Qu.:295.75   3rd Qu.:27.41   3rd Qu.: 153.66   01/06/1997 04:31:13:  1
 Max.   :394.00   Max.   :39.84   Max.   : 179.93   01/06/1997 06:12:56:  1
                                                    (Other)            :388

- 시간 순서대로 데이터를 정렬시킴

In [29]:
timestamp <- as.POSIXlt(
    strptime(as.character(turtle_df$obs_date),  "%m/%d/%Y %H:%M:%S"), "GMT"
    )
turtle_df1 <- data.frame(turtle_df, timestamp = timestamp)
turtle_df1$lon <- ifelse(turtle_df1$lon < 0, turtle_df1$lon + 360, turtle_df1$lon)
turtle_sp <- turtle_df1[order(turtle_df1$timestamp), ]
coordinates(turtle_sp) <- c("lon", "lat")
proj4string(turtle_sp) <- CRS("+proj=longlat +ellps=WGS84")

- 이 데이터셋을 가지고 바다거북의 이동 경로를 그릴 수 있음.
![](chapter02_02.png)

## 2.5 SpatialLines

- SpatialLines클래스는 Lines 객체의 리스트와 projection 정보를 구성함.

In [30]:
getClass("SpatialLines")

Class "SpatialLines" [package "sp"]

Slots:

Name:        lines        bbox proj4string
Class:        list      matrix         CRS

Extends: "Spatial"

Known Subclasses: "SpatialLinesDataFrame"

- map패키지로부터 데이터를 불러와서, 이 데이터를 maptools 의 map2SpatialLines()함수를 사용해서 SpatialLines로 변환함.

In [ ]:
# 설치는 한번만
install.packages("maptools",  repos="http://cran.nexr.com/"  )

In [22]:
library(maps)
library(maptools)

Checking rgeos availability: FALSE
 	Note: when rgeos is not available, polygon geometry 	computations in maptools depend on gpclib,
 	which has a restricted licence. It is disabled by default;
 	to enable gpclib, type gpclibPermit()

In [23]:
japan <- map("world", "japan", plot = FALSE)
p4s <- CRS("+proj=longlat +ellps=WGS84")
SLjapan <- map2SpatialLines(japan, proj4string = p4s)
str(SLjapan, max.level = 2)

Warning message:
In map2SpatialLines(japan, proj4string = p4s): map2SpatialLines: 19 zero-length Lines object(s) omitted

Formal class 'SpatialLines' [package "sp"] with 3 slots
  ..@ lines      :List of 32
  ..@ bbox       : num [1:2, 1:2] 123.7 24.3 145.7 45.5
  .. ..- attr(*, "dimnames")=List of 2
  ..@ proj4string:Formal class 'CRS' [package "sp"] with 1 slot

- SpatialLines 와  SpatialPolygons 객체는 매우 비슷한 구조임.
![](chapter02_03.png)

## 2.6 SpatialPolygons

- 시작point와 마지막 point가 동일한 point들의 sequence

- SpatialPolygons클래스안에는 polygon들의 순서 정보를 갖는 plotOrder 가 있음. 
- 가장 큰 영역부터 작은 영역으로 정렬됨.

In [11]:
getClass("SpatialPolygons")

Class "SpatialPolygons" [package "sp"]

Slots:

Name:     polygons   plotOrder        bbox proj4string
Class:        list     integer      matrix         CRS

Extends: "Spatial"

Known Subclasses:
Class "SpatialPolygonsDataFrame", directly, with explicit coerce

- Auckland shoreline 데이터셋의 Line만을 선택해서 SpatialPolygons 객체를 만듬.
http://www.asdar-book.org/datasets/auckland_mapgen.dat

In [24]:
llCRS <- CRS("+proj=longlat +ellps=WGS84")
auck_shore <- MapGen2SL("auckland_mapgen.dat", llCRS)
summary(auck_shore)

Object of class SpatialLines
Coordinates:
    min   max
x 174.2 175.3
y -37.5 -36.5
Is projected: FALSE
proj4string : [+proj=longlat +ellps=WGS84]

In [25]:
lns <- slot(auck_shore, "lines")
table(sapply(lns, function(x) length(slot(x, "Lines"))))

 1
80

In [26]:
islands_auck <- sapply(lns, function(x) {
   crds <- slot(slot(x, "Lines")[[1]], "coords")
   identical(crds[1, ], crds[nrow(crds), ])
})
table(islands_auck)

islands_auck
FALSE  TRUE
   16    64

In [27]:
islands_sl <- auck_shore[islands_auck]
list_of_Lines <- slot(islands_sl, "lines")
islands_sp <- SpatialPolygons(lapply(list_of_Lines, function(x) {
  Polygons(list(Polygon(slot(slot(x, "Lines")[[1]],
  "coords"))), ID = slot(x, "ID"))
}), proj4string = CRS("+proj=longlat +ellps=WGS84"))
summary(islands_sp)

Object of class SpatialPolygons
Coordinates:
        min       max
x 174.30297 175.22791
y -37.43877 -36.50033
Is projected: FALSE
proj4string : [+proj=longlat +ellps=WGS84]

- 아래 코드로도 확인되듯이 넓은 지역순으로 정렬이 됨.

In [15]:
slot(islands_sp, "plotOrder")

 [1] 45 54 37 28 38 27 12 11 59 53  5 25 26 46  7 55 17 34 30 16  6 43 14 40 32
[26] 19 61 42 15 50 21 18 62 23 22 29 24 44 13  2 36  9 63 58 56 64 52 39 51  1
[51]  8  3  4 20 47 35 41 48 60 31 49 57 10 33

In [16]:
order(sapply(slot(islands_sp, "polygons"), function(x) slot(x,
 "area")), decreasing = TRUE)

 [1] 45 54 37 28 38 27 12 11 59 53  5 25 26 46  7 55 17 34 30 16  6 43 14 40 32
[26] 19 61 42 15 50 21 18 62 23 22 29 24 44 13  2 36  9 63 58 56 64 52 39 51  1
[51]  8  3  4 20 47 35 41 48 60 31 49 57 10 33

### 2.6.1 SpatialPolygonsDataFrame 객체

- SpatialPolygonsDataFrame은 polygons의 지리표현 정보를 갖음.
- 1999년 미국의 주별 SAT 점수 데이터셋으로 예제

http://www.asdar-book.org/datasets/state.sat.data_mod.txt

In [5]:
library(maps)
library(maptools)

Loading required package: sp
Checking rgeos availability: FALSE
 	Note: when rgeos is not available, polygon geometry 	computations in maptools depend on gpclib,
 	which has a restricted licence. It is disabled by default;
 	to enable gpclib, type gpclibPermit()

In [28]:
state.map <- map("state", plot = FALSE, fill = TRUE)
names( state.map )
head( state.map$names )

[1] "x"     "y"     "range" "names"

[1] "alabama"     "arizona"     "arkansas"    "california"  "colorado"
[6] "connecticut"

In [29]:
IDs <- sapply(strsplit(state.map$names, ":"), function(x) x[1])
head( IDs )

[1] "alabama"     "arizona"     "arkansas"    "california"  "colorado"
[6] "connecticut"

In [30]:
state.sp <- map2SpatialPolygons(state.map, IDs = IDs,
   proj4string = CRS("+proj=longlat +ellps=WGS84"))

- SpatialPolygons과 data.frame과 매치태그로 일치시킬 수 있음.

In [31]:
sat <- read.table("state.sat.data_mod.txt", row.names = 5, header = TRUE)
str(sat)
head(sat)

'data.frame':	52 obs. of  4 variables:
 $ oname : Factor w/ 52 levels "ala","alaska",..: 1 2 3 4 5 6 7 9 8 10 ...
 $ vscore: int  561 516 524 563 497 536 510 503 494 499 ...
 $ mscore: int  555 514 525 556 514 540 509 497 478 498 ...
 $ pc    : int  9 50 34 6 49 32 80 67 77 53 ...

            oname vscore mscore pc
alabama       ala    561    555  9
alaska     alaska    516    514 50
arizona      ariz    524    525 34
arkansas      ark    563    556  6
california  calif    497    514 49
colorado     colo    536    540 32

In [33]:
id <- match(row.names(sat), 
            sapply(slot(state.sp, "polygons"), function(x) slot(x, "ID")))
row.names(sat)[is.na(id)]

[1] "alaska" "hawaii" "usa"

- state.sp의 ID값과 sat의 row name으로 매치가 되지 않는것이 3개가 있고 나머지는 매칭됨

In [34]:
state.spdf <- SpatialPolygonsDataFrame(state.sp, sat)

ERROR: Error in SpatialPolygonsDataFrame(state.sp, sat): Object length mismatch:
     state.sp has 49 Polygons objects, but sat has 52 rows

In [35]:
sat_match <- sat[ is.na(id)==FALSE, ]
state.spdf <- SpatialPolygonsDataFrame(state.sp, sat_match)
str(slot(state.spdf, "data"))

'data.frame':	49 obs. of  4 variables:
 $ oname : Factor w/ 52 levels "ala","alaska",..: 1 3 4 5 6 7 9 8 10 11 ...
 $ vscore: int  561 524 563 497 536 510 503 494 499 487 ...
 $ mscore: int  555 525 556 514 540 509 497 478 498 482 ...
 $ pc    : int  9 34 6 49 32 80 67 77 53 63 ...

In [36]:
str(state.spdf, max.level = 2)

Formal class 'SpatialPolygonsDataFrame' [package "sp"] with 5 slots
  ..@ data       :'data.frame':	49 obs. of  4 variables:
  ..@ polygons   :List of 49
  ..@ plotOrder  : int [1:49] 42 25 4 30 27 2 5 49 36 22 ...
  ..@ bbox       : num [1:2, 1:2] -124.7 25.1 -67 49.4
  .. ..- attr(*, "dimnames")=List of 2
  ..@ proj4string:Formal class 'CRS' [package "sp"] with 1 slot

- data.frame안의 arizona 행이름을 Arizona로 변경해서 매칭시키면 에러가 발생함.

In [34]:
rownames(sat)[3] <- "Arizona"
SpatialPolygonsDataFrame(state.sp, sat)

ERROR: Error in SpatialPolygonsDataFrame(state.sp, sat): Object length mismatch:
     state.sp has 49 Polygons objects, but sat has 52 rows

- SpatialPolygonsDataFrame에서 "District of Columbia" 지역을 빼보자.

In [36]:
DC <- "district of columbia"
not_dc <- !(row.names(slot(state.spdf, "data")) == DC)
state.spdf1 <- state.spdf[not_dc, ]
length(slot(state.spdf1, "polygons"))

[1] 48

In [38]:
summary(state.spdf1)

Object of class SpatialPolygonsDataFrame
Coordinates:
         min       max
x -124.68134 -67.00742
y   25.12993  49.38323
Is projected: FALSE
proj4string : [+proj=longlat +ellps=WGS84]
Data attributes:
     oname        vscore          mscore            pc
 ala    : 1   Min.   :479.0   Min.   :475.0   Min.   : 4.00
 ariz   : 1   1st Qu.:506.2   1st Qu.:505.2   1st Qu.: 9.00
 ark    : 1   Median :530.5   Median :532.0   Median :28.50
 calif  : 1   Mean   :534.6   Mean   :534.9   Mean   :35.58
 colo   : 1   3rd Qu.:563.0   3rd Qu.:558.5   3rd Qu.:63.50
 conn   : 1   Max.   :594.0   Max.   :605.0   Max.   :80.00
 (Other):42

### 2.6.2 Holes and Ring Direction

- Hole은 호수 같은 영역을 나타냄, TRUE/FALSE 또는 land: 1, lake: 2, island in lake: 3
- Ring Direction은 시계방향 또는 반시계뱡향으로 표시함.

http://www.asdar-book.org/datasets.php?dataset=12

In [37]:
load("high.RData")
manitoulin_sp <- high$SP

In [38]:
length(slot(manitoulin_sp, "polygons"))

[1] 1

In [39]:
sapply(slot(slot(manitoulin_sp, "polygons")[[1]], "Polygons"),
   function(x) slot(x, "hole"))

 [1] FALSE  TRUE FALSE  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [40]:
sapply(slot(slot(manitoulin_sp, "polygons")[[1]], "Polygons"),
    function(x) slot(x, "ringDir"))

 [1]  1 -1  1 -1 -1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1

## 2.7 SpatialGrid and SpatialPixel Objects

- Grid는 정보를 격자모양으로 표현함
- 행과 열의 수로 Grid내의 하나의 cell resolution이 결정됨.
- 전통적으로 remote sensing과 raster GIS에서 사용됨
- 디지털 고도 모델(digital elevation models), 위성 이미지(satellite imagery), 보간 데이터(interpolated data), 화상 처리(image processing)에서 사용됨.

In [41]:
getClass("GridTopology")

Class "GridTopology" [package "sp"]

Slots:

Name:  cellcentre.offset          cellsize         cells.dim
Class:           numeric           numeric           integer

Manitoulin Island vector 데이터셋의 bounding box로부터 GridTopology 객체를 만들어보자

In [42]:
bb <- bbox(manitoulin_sp)
bb

     min   max
r1 277.0 278.0
r2  45.7  46.2

In [43]:
cs <- c(0.01, 0.01)
cc <- bb[, 1] + (cs/2)
cc

     r1      r2
277.005  45.705

In [44]:
t(bb)
diff(t(bb))

cd <- ceiling(diff(t(bb))/cs)
cd

     r1   r2
min 277 45.7
max 278 46.2

    r1  r2
max  1 0.5

     r1 r2
max 100 50

r1은 0.01 만큼 나누면 100로 나누어짐, r2는 0.01만큼 나누면 50개로 나누어짐

In [45]:
manitoulin_grd <- GridTopology(
    cellcentre.offset = cc, 
    cellsize = cs, 
    cells.dim = cd)
manitoulin_grd

                       r1     r2
cellcentre.offset 277.005 45.705
cellsize            0.010  0.010
cells.dim         100.000 50.000

- SpatialGrid객체는 GridTopology와 Spatial을 포함하고, grid.index 와 coords slot도 포함

In [56]:
getClass("SpatialGrid")

Class "SpatialGrid" [package "sp"]

Slots:

Name:          grid         bbox  proj4string
Class: GridTopology       matrix          CRS

Extends: "Spatial"

Known Subclasses: "SpatialGridDataFrame"

In [58]:
p4s <- CRS(proj4string(manitoulin_sp))
manitoulin_SG <- SpatialGrid(manitoulin_grd, proj4string = p4s)
summary(manitoulin_SG)

Object of class SpatialGrid
Coordinates:
     min   max
r1 277.0 278.0
r2  45.7  46.2
Is projected: FALSE
proj4string : [+proj=longlat +datum=WGS84]
Grid attributes:
   cellcentre.offset cellsize cells.dim
r1           277.005     0.01       100
r2            45.705     0.01        50

- SpatialGridDataFrame은 SpatialGrid을 확장해서 data.frame 도 포함.

![](chapter02_04.png)

http://www.asdar-book.org/datasets.php?dataset=0

예제는 생략

In [59]:
class(auck_el1)

ERROR: Error in eval(expr, envir, enclos): 객체 'auck_el1'를 찾을 수 없습니다